body {
    margin: 0;
    padding: 0;
    background-color: #dae7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-container {
    background-color: #eef0f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 300px;
    text-align: center;
}

.profile-container h2 {
    margin: 0 0 20px;
    font-size: 1.5em;
    color: #333;
}

.profile-container p {
    margin: 5px 0;
    padding: 2px;
    font-size: 1em;
    color: #383838;
}

.subscription-status {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}

.subscription-free {
    background-color: #f0c419; 
}

.subscription-paid {
    background-color: #87b0e7; 
}
