<br>
<br>
<div class="features">
    <h3>Features Overview</h3>
    <p>With WanderWise, planning your next adventure has never been easier!</p>
    <h4>Free</h4>
    <ul>
        <li>Browse Itineraries</li>
        <li>Save Itineraries</li>
        <li>View Shared Itineraries</li>
    </ul>
    <h4>Paid</h4>
    <ul>
        <li>Browse Itineraries</li>
        <li>Save Itineraries</li>
        <li>View Shared Itineraries</li>
        <li>Create and Edit an Itinerary</li>
        <li>Share Itineraries</li>
        <li>Access to Weather Forecasts</li>
    </ul>
    <br>
</div>

