.features {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.features h2 {
    margin-bottom: 10px;
}

.features p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #323232;
}

.plans {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
}

.plan {
    flex: 1;
    padding: 0 0 20px 20px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.plan.free {
    background-color: #709cd6; 
}

.plan.paid { 
    background-color: #5c88c1; 
}

.plan:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.plans h4 {
    margin-bottom: 30px;
    font-size: 1.5rem;
    font-weight: bold;
}

.plan ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.plan ul li {
    margin: 10px 0;
    font-size: 1rem;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #24507f;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #004080;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
